@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Bold.otf);
  font-weight: 700;
}

body {
  position: relative;
  font-family: "Satoshi";
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.active {
  background: linear-gradient(
    90deg,
    currentColor -2.3%,
    rgba(35, 43, 62, 0) 96.42%
  );
}

.active div h2 {
  font-size: 52px !important;
}

.active div.w-7.h-7 {
  width: 140px !important;
  height: 160px !important;
  padding: 12px;
}

.active-nav {
  background: white;
  color: #131824;
}

.current {
  color: white !important;
}

.services-gradient {
  background: linear-gradient(
      0deg,
      rgba(19, 24, 36, 0.5) 0%,
      rgba(19, 24, 36, 0.5) 100%
    ),
    linear-gradient(87deg, #131824 8%, rgba(19, 24, 36, 0) 88.82%);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .active div h2 {
    font-size: 24px !important;
  }

  .active div.w-7.h-7 {
    width: 64px !important;
    height: 70px !important;
  }

  .services-gradient {
    background: linear-gradient(
        0deg,
        rgba(19, 24, 36, 0.5) 0%,
        rgba(19, 24, 36, 0.5) 100%
      ),
      linear-gradient(180deg, #131824 8%, rgba(19, 24, 36, 0) 88.82%);
  }
}
