@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/font/Satoshi-Bold.otf);
  font-weight: 700;
}

body {
  position: relative;
  font-family: "Satoshi";
  scroll-snap-type: y proximity;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.active {
  color: black;
}
